* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #f5f5f7; }

a {
  text-decoration: none;
  color: black; }

.nav-principal {
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  background-color: white; }

.box-producto {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.26); }
  .box-producto img {
    height: 250px; }
  .box-producto p {
    text-align: center; }
  .box-producto h3 {
    text-align: left; }
  .box-producto button {
    width: 150px;
    height: 36px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #0071e3; }
  .box-producto-hover {
    box-shadow: 2px 0 0 black; }

.container-productos {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; }

.container-cart {
  display: flex;
  align-items: center; }
  .container-cart span {
    margin: 5px; }

.container-btn-count {
  display: flex;
  align-items: center;
  text-align: center; }
  .container-btn-count span {
    margin: 10px;
    width: 100px; }

.container-producto-detalle {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  width: 100vw;
  min-height: 550px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .container-producto-detalle-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%; }
  .container-producto-detalle img {
    width: 500px; }

.container-producto-descripcion {
  width: 100vw; }

.price {
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7); }

.btn-count {
  width: 40px;
  height: 40px;
  border: 2px solid #0071e3;
  border-radius: 50px;
  background: none;
  font-size: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn-buy {
  width: 150px;
  height: 36px;
  color: white;
  border-radius: 15px;
  border: none;
  margin: 5px;
  background-color: #0071e3; }
  .btn-buy-secundary {
    background-color: white;
    border: 1px solid #0071e3;
    color: black; }
